<div class="row">
    <div class="col-8 offset-2">
        <h2>Просмотр отдела</h2>
        <div class="form-group">
            <label for="nameD">Название отдела</label>
            <input readonly [(ngModel)]="item.name" type="text" class="form-control" id="nameD"
                placeholder="Название  отдела">
        </div>
        <div class="form-group">
            <label for="descD">Описание отдела</label>
            <input readonly [(ngModel)]="item.description" type="text" class="form-control" id="descD"
                placeholder="Описание отдела">
        </div>
        <button class="btn btn-light" (click)="back()">
            Назад
        </button>
    </div>
</div>