<div class="row">
    <div class="col-8 offset-2">
        <h2>Просмотр сотрудника</h2>
        <div class="form-group">
            <label for="nameD">Имя</label>
            <input readonly [(ngModel)]="item.firstName" type="text" class="form-control" id="nameD" placeholder="Имя">
        </div>
        <div class="form-group">
            <label for="nameD1">Фамилия</label>
            <input readonly [(ngModel)]="item.lastName" type="text" class="form-control" id="nameD1"
                placeholder="Фамилия">
        </div>
        <div class="form-group">
            <label class="mr-sm-2" for="inlineFormCustomSelect">Отдел</label>
            <select disabled readonly class="custom-select" id="inlineFormCustomSelect" [(ngModel)]="item.departmentId">
                <option disabled>Выберите отдел</option>
                <option *ngFor="let deportament of deportaments" [value]="deportament.id">{{deportament.name}}</option>
            </select>
        </div>
        <button class="btn btn-light" (click)="back()">
            Назад
        </button>
    </div>
</div>