<h2>Сотрудники</h2>

<table class="table">
    <thead>
        <tr>
            <td>id </td>
            <td>firstName</td>
            <td>lastName</td>
            <td>department</td>
            <td>Просмотр</td>
            <td>Изменение</td>
            <td>Удаление</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items2">
            <td>
                {{item.id}}
            </td>
            <td>
                {{item.firstName}}
            </td>
            <td>
                {{item.lastName}}
            </td>
            <td>
                {{item.department}}
            </td>
            <td>
                <a routerLink="/EmployeeComponent/{{item.id}}" class="btn btn-primary">Просмотр</a>
            </td>
            <td>
                <a routerLink="/EmployeeEditComponent/{{item.id}}" class="btn btn-warning">Изменение</a>
            </td>
            <td>
                <a routerLink="/EmployeeRemoveComponent/{{item.id}}" class="btn btn-danger">Удаление</a>
            </td>
        </tr>
    </tbody>
</table>

<a routerLink="/EmployeeNewComponent" class="btn btn-primary">Добавить</a>
