<h2>Отделы</h2>

<table class="table">
    <thead>
        <tr>
            <td>id </td>
            <td>Отдел</td>
            <td>Описание</td>
            <td>Просмотр</td>
            <td>Изменение</td>
            <td>Удаление</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of deportaments">
            <td>
                {{item.id}}
            </td>
            <td>
                {{item.name}}
            </td>
            <td>
                {{item.description}}
            </td>
            <td>
                <a routerLink="/DeportamentComponent/{{item.id}}" class="btn btn-primary">Просмотр</a>
            </td>
            <td>
                <a routerLink="/DeportamentEditComponent/{{item.id}}" class="btn btn-warning">Изменение</a>
            </td>
            <td>
                <a routerLink="/DeportamentRemoveComponent/{{item.id}}" class="btn btn-danger">Удаление</a>
            </td>
        </tr>
    </tbody>
</table>

<a routerLink="/DeportamentNewComponent" class="btn btn-primary right">Добавить</a>
