<div class="row">
    <div class="col-8 offset-2">
        <h2>Правка отдела</h2>
        <div class="form-group">
            <label for="nameD">Название отдела</label>
            <input [(ngModel)]="item.name" type="text" class="form-control" id="nameD" placeholder="Название  отдела">
        </div>
        <div class="form-group">
            <label for="descD">Описание отдела</label>
            <input [(ngModel)]="item.description" type="text" class="form-control" id="descD"
                placeholder="Описание отдела">
        </div>
        <button class="btn btn-light" (click)="back()">
            Назад
        </button>
        <button class="btn btn-primary float-right" (click)="update()">
            Сохранить
        </button>
    </div>
</div>